/* cyrillic-ext */

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v40/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUtiZTaR.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v40/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUJiZTaR.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* vietnamese */

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v40/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUliZTaR.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v40/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUhiZTaR.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v40/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiZQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --base-grid: 8px;
  --colour-body-background: #c5b6b4;
  --font: 'Oswald', sans-serif;
}

*, :after, :before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--colour-body-background);
  padding-left: 80px;
  padding-right: 80px;
  font-family: var(--font);
  size: fit-content;
  min-width: 1150px;
}

/* Wrapper */

.wrapper {
  overflow: hidden;
  display: flex;
  justify-content: center;
  min-width: 1000px;
}

.wrapper div {
  padding: 10px;
  border: double #776c6c 10px;
}

/* Title CSS */

.title {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  min-width: 1000px;
}

h2 {
  text-align: center;
  color: #43464b;
  letter-spacing: 0.1rem;
  font-size: 2.5rem;
}

/*Image*/

.profile {
  flex-direction: left;
}

.profile__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25rem;
}

/*Information*/

.text {
  list-style: inside;
  padding-left: 3rem;
  padding-right: 5rem;
  overflow: hidden;
  min-width: 300px;
}

h3 {
  text-align: left;
  color: #43464b;
  letter-spacing: 0.1rem;
  font-size: 2.5rem;
  font-size: 1.5rem;
}

p {
  color: #43464b;
  padding-bottom: 2rem;
}

/*Concerts*/

table {
  font-family: var(--font);
  color: #43464b;
}

.concerts {
  overflow: hidden;
  min-width: 200px;
  list-style-position: inside
}

ul {
  color: #43464b;
}

ul li {
  list-style: none;
}

.date {
  visibility: collapse;
  font-size: 0.75rem;
}

.location:hover~.date {
  visibility: visible;
}

/*Back button*/

.test{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 940px;
}

.back{
  padding-bottom: 0.5rem;
  width: 920px;
}

.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

span {
  color: #43464b;
  font-family: var(--font);
}

.btn-one {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
  top: 1rem;
}

.btn-one span {
  transition: all 0.3s;
}

.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  transform: scale(0.1, 1);
}

.btn-one:hover span {
  letter-spacing: 2px;
}

.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}

.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

/* If the viewport size changes: */

@media only screen and (max-width: 800px) {
  body {
    size: fit-content;
    min-width: 580px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .profile {
    display: none;
  }
  .wrapper {
    min-width: 500px;
  }
  .title {
    display: flex;
    min-width: 500px;
  }
  .test{
    min-width: 500px;
  }
  .back{
    width: 490px;
  }
}